<!DOCTYPE html>
<html ng-app="my-app">
  <head>
    <meta charset="utf-8" />

    <script
      crossorigin="anonymous"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"
    ></script>
    <script src="app.js"></script>
    <title>Doc</title>
  </head>
  <body>
    <h1>Directives test (weather API)</h1>
    <div id="list" ng-controller="myController as my">
      <input ng-model="my.location" type="text">
      <button ng-click="my.getWeather()">Check</button>
      <api-data data="my.finalData"/>
  </body>
</html> 
