<!DOCTYPE html>
<html lang="en" ng-app="my-app">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
      crossorigin="anonymous"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"
    ></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <style></style>
  <body>
    <h3>Directive API</h3>
    <div ng-controller="shoppingListController as list" class="w-25 p-3">
      <input class="form-control" ng-model="list.itemName" type="text" />
      <input class="form-control" ng-model="list.itemQuantity" type="text" />
      <button class="btn btn-success" ng-click="list.addItem()">Submit</button>
      <div>
        <shopping-list
          items="list.items"
          title="{{list.title}}"
          bad-remove="list.removeItem"
          on-remove="list.removeItem(index)"
        />
      </div>
    </div>
  </body>
</html>
